html, body {
  background-color: rgb(51, 51, 51);
  font-family: sans-serif;

}



body {
  font-size: 1rem;
  font-weight: 400;
  box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);


}
.App {
  background-color: #333;
}


.menu {
  padding-top: 15px;
  line-height: 1;

}

.logo-cover {
  font-size: 28px;
  color: rgb(255, 255, 255);
  align-items: center;
}

.menu-items {
  text-align: center;
}


.menu-item {
  color:rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 0px 5px;

}

.menu-item:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}


.activeMenuItem {
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  width: 100%;
  font-weight: 700;


}

.activeMenuItem:hover {
  color:rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-bottom-style: solid;
  border-bottom-width: 4px;
  width: 100%;
  font-weight: 700;
}

.home-page {
  margin-top: 210px;
}

.cover-page {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.home-page-text {
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  font-weight: 300;

}

.learn-more-button {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: .05rem solid #fff;
  font-size: 1.25rem;
  padding: .8rem 1rem;
  border-radius: .3rem;
  margin-top: 15px;
  font-weight: 700;
}

.footer {
  position: absolute;
  bottom: 10px;
  left: 800px;
}

.footer-text {
  color: rgba(255, 255, 255, 0.5);
}

.footer-text a {
  color: rgb(255, 255, 255);
  margin: 0px 5px;
}

.footer-text a:hover{
  color: rgb(255, 255, 255);
}

.home-page-footer{
  padding-top: 255px;
}

.features-page {
  padding-top: 210px;
}

.features-footer{
  padding-top: 328px;
}